@model ProyectoDAW_hemeroteca_MDK.Models.Carrera

@{
    ViewData["Title"] = "Delete";
}
<br /><br />
<CENTER>
    <h1>ELIMINAR CARRERA</h1>

    <h3>¿Esta seguro que desea eliminar elemento?</h3>
</CENTER>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFacultad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFacultad)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCarrera" />
        <input type="submit" value="ELIMINAR" class="btn btn-outline-primary" /> |
        <a class="btn-outline-secondaryasp-action" Index" role="button">CANCELAR</a>
    </form>
</div>
