@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<h2 class="text-center">Integrantes</h2>
<br />
<br />
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="/theme/img/mely.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">2018-GZ-602 </h5>
            <p class="card-text">Melissa Jeannette Garcia Zaldaña</p>
        </div>
      
    </div>
    <div class="card">
        <img class="card-img-top" src="/theme/img/karla.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">2017-MJ-601</h5>
            <p class="card-text">Karla Araceli Marroquín Jaime </p>
        </div>
        
    </div>
    <div class="card">
        <img class="card-img-top" src="/theme/img/douglas.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">2018-US-605</h5>
            <p class="card-text">Douglas José Uribe Salazar</p>
        </div>
        
    </div>
</div>

@*<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <div class="col">
            <div class="jumbotron jumbotron-fluid" style="background-color:#F6D8CE">
                <div class="container" style="text-align:center">
                    <h6 class="figure">Karla aqui</h6>
                </div>
            </div>
            <a href="#" class="text-decoration-none" style="margin-left:10px">Karla Araceli Marroquín Jaime</a>
        </div>
        <div class="col">

            <div class="jumbotron jumbotron-fluid" style="background-color:#F5F6CE">
                <div class="container" style="text-align:center">
                    <h6 class="figure">Melissa </h6>
                </div>
            </div>
            <a href="#" class="text-decoration-none" style="margin-left:20px">Melissa Jeannette Garcia Zaldaña</a>

        </div>
        <div class="col">

            <div class="jumbotron jumbotron-fluid" style="background-color:#E0F8E0">
                <div class="container" style="text-align:center">
                    <h6 class="figure">Douglas aqui</h6>
                </div>
            </div>
            <a href="#" class="text-decoration-none" style="margin-left:10px">Douglas José Uribe Salazar</a>

        </div>
    </div>
</div>*@
