@model ProyectoDAW_hemeroteca_MDK.Models.Proyecto

@{
    ViewData["Title"] = "Create";
}
<br /><br />
<CENTER>
    <h1>NUEVO</h1>

    <h4>Proyectos</h4>
</CENTER>
<hr />
<div class="row container">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdTipoProyecto" class="control-label"></label>
                <input asp-for="IdTipoProyecto" class="form-control" />
                <span asp-validation-for="IdTipoProyecto" class="text-danger"></span>
            </div>
           
            
            
            <div class="form-group">
                <label asp-for="IdAutor" class="control-label"></label>
                <input asp-for="IdAutor" class="form-control" />
                <span asp-validation-for="IdAutor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Año" class="control-label"></label>
                <input asp-for="Año" class="form-control" />
                <span asp-validation-for="Año" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="GUARDAR" class="btn btn-outline-primary" />
                <a class="btn btn-outline-secondary" asp-action="Index" role="button">CANCELAR</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
